django==3.2.18
black
django-bootstrap5
django-cors-headers
django-environ
django-import-export
django-htmx
django-filter
django-phonenumber-field[phonenumbers]
django-phonenumbers
django-rest-knox
django-tables2
djangorestframework
djlint
drf-standardized-errors
fontawesomefree
httpie
pylint-django
PyMySQL
uritemplate
