<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_messages %}
        <title>Hello, world!</title>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block content %}
        {% endblock content %}
        {% bootstrap_javascript %}
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        {% block my_scripts %}
        {% endblock my_scripts %}
    </body>
</html>
