<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
        {% load django_bootstrap5 %}
        {% bootstrap_messages %}
        <title>Hello, world!</title>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block content %}
        {% endblock content %}
        <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'htmx.min.js' %}"></script>
        {% block my_scripts %}
        {% endblock my_scripts %}
    </body>
</html>
