{% load i18n %}
{% if is_paginated %}
    <nav class="pagination is-centered is-rounded is-small"
         hx-target="{{ hx_target }}"
         hx-swap="innerHTML"
         hx-push-url="true">
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li>
                    <a class="pagination-link"
                       href="?page=1&{{ get_copy.urlencode }}"
                       hx-get="?page=1&{{ get_copy.urlencode }}">&laquo;</a>
                </li>
                <li>
                    <a class="pagination-link"
                       href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}"
                       hx-get="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}">&#x3C;</a>
                </li>
            {% else %}
                <li>
                    <a class="pagination-link" disabled>&laquo;</a>
                </li>
                <li>
                    <a class="pagination-link" disabled>&#x3C;</a>
                </li>
            {% endif %}
            <span class="current" name="search-page">Page
                <input type="text"
                       class="has-text-centered"
                       name="page"
                       value="{{ page_obj.number }}"
                       hx-trigger="keyup changed delay:1s"
                       hx-get="{% url "pgi_currencies:rates-list" %}"
                       hx-include="[name='div-input'],[name='search-page']"
                       size="2">
            of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <li>
                    <a class="pagination-link"
                       href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}"
                       hx-get="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}">&#x3E;</a>
                </li>
                <li>
                    <a class="pagination-link"
                       href="?page={{ page_obj.paginator.num_pages }}&{{ get_copy.urlencode }}"
                       hx-get="?page={{ page_obj.paginator.num_pages }}&{{ get_copy.urlencode }}">&raquo;</a>
                </li>
            {% else %}
                <li>
                    <a class="pagination-link" disabled>&#x3E;</a>
                </li>
                <li>
                    <a class="pagination-link" disabled>&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
