{% extends "pgi_currencies/bulma_table2.html" %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
<p>{% querystring %}</p>
{% block table.thead %}
    {% if table.show_header %}
        <thead {{ table.attrs.thead.as_html }}>
            <tr>
                {% for column in table.columns %}
                    <th {{ column.attrs.th.as_html }}>
                        {% if column.orderable %}
                            <a hx-get="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
                               hx-target="{{ hx_target }}"
                               href="#">{{ column.header }}</a>
                        {% else %}
                            {{ column.header }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
    {% endif %}
{% endblock table.thead %}
{% comment %} {% block pagination %} {% endcomment %}
{% comment %} {% include "pgi_currencies/bulma_pagination.html" %} {% endcomment %}
{% comment %} {% endblock pagination %} {% endcomment %}
