{% extends "pgi_currencies/bulma_base.html" %}
{% load bulma_tags %}
{% block title %}
    Devises
{% endblock title %}
{% block content %}
    <div class="column is-half is-offset-one-quarter is-size-7-mobile">
        {% if filter %}
            <form action=""
                  method="get"
                  hx-get=""
                  hx-target="{{ hx_target }}"
                  name="div-input"
                  hx-include="[name='div-input']">
                <div class="field is-grouped">
                    <div class="control">
                        <input type="text"
                               class="input is-small"
                               name="search"
                               placeholder="recherche"
                               size="7em"
                               hx-trigger="keyup changed delay:500ms"
                               hx-get="">
                    </div>
                    <div class="select is-small">
                        <select name="in_rate" hx-get="">
                            <option value="1">Toutes les devises</option>
                            <option value="2">Devises affichées dans les cours</option>
                            <option value="3">Devises masquées dans les cours</option>
                        </select>
                    </div>
                </div>
            </form>
        {% endif %}
        <div id="currency-table" class="mt-2">{% include "pgi_currencies/bulma_table2_htmx.html" %}</div>
        <div id="none"></div>
    </div>
{% endblock content %}
