<div class="table-container is-size-6-mobile">
    <table class="table is-hoverable is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Name</th>
                <th>Propagation</th>
                <th>Cours</th>
            </tr>
        </thead>
        <tbody>
            {% for currency in page_obj %}
                <tr>
                    <td>{{ currency.currency }}</td>
                    <td>{{ currency.name }}</td>
                    <td>{{ currency.propagation }}</td>
                    <td>
                        <div class="field">
                            <input id="switch{{ currency.currency }}"
                                   type="checkbox"
                                   name="switchcurrency"
                                   class="switch is-rounded is-small"
                                   {% if currency.currency in request.session.mycurrencies %}checked="checked"{% endif %}>
                            <label for="switch{{ currency.currency }}"></label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container has-text-centered">
    <a href="{% url 'pgi_currencies:currencies-list' %}"><i class="fas fa-home"></i></a>
</div>
{% include "pgi_currencies/bulma_pagination.html" %}
