{% extends "pgi_currencies/app_base.html" %}
{% block bootstrap5_title %}
    Devises
{% endblock bootstrap5_title %}
{% block bootstrap5_content %}
    <div class="container">
        {% if filter %}
            <form action=""
                  hx-get=""
                  hx-target="{{ hx_target }}"
                  hx-include="[name='div-input']"
                  method="get"
                  class="row"
                  name="div-input">
                <div class="col-auto mb-2">
                    <input type="text"
                           hx-trigger="keyup changed delay:500ms"
                           hx-get=""
                           class="form-control form-control-sm"
                           name="search"
                           placeholder="recherche"
                           size="7em">
                </div>
                <div class="col-auto mb-2">
                    <select name="in_rate" hx-get="" class="form-select form-select-sm">
                        <option value="1">Toutes les devises</option>
                        <option value="2">Devises affichées dans les cours</option>
                        <option value="3">Devises masquées dans les cours</option>
                    </select>
                </div>
            </form>
        {% endif %}
        <div id="currency-table">{% include "pgi_currencies/bootstrap5_table2_htmx.html" %}</div>
        <div id="none"></div>
    </div>
{% endblock bootstrap5_content %}
{% block after_extra_script %}
    <script>
        document.addEventListener('htmx:beforeRequest', function(evt) {
            if (evt.detail.elt.classList.contains("form-check-input")) {
                id = evt.detail.elt.id;
                divinput = document.querySelector("#"+id+"divinput");
                divinput.classList.add("d-none");
                divspinner = document.querySelector("#"+id+"divspinner");
                divspinner.classList.remove("d-none");
            }
        });
        document.addEventListener('htmx:afterRequest', function(evt) {
            if (evt.detail.elt.classList.contains("form-check-input")) {
                id = evt.detail.elt.id;
                divinput = document.querySelector("#"+id+"divinput");
                divinput.classList.remove("d-none");
                divspinner = document.querySelector("#"+id+"divspinner");
                divspinner.classList.add("d-none");
            }
        });
    </script>
{% endblock after_extra_script %}
