{% extends "pgi_currencies/bulma_base.html" %}
{% block header %}
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="../index.html">ARIARY</a>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'pgi_currencies:currencies-list' %}">Liste des devises</a>
                    <a class="navbar-item" href="{% url 'pgi_currencies:rates-list' %}">Cours</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock header %}
