<ul>
    {% for rate in page_obj %}
        <li>{{ rate.date|date }}  - {{ rate.currency }} : {{ rate.rate }}</li>
    {% empty %}
        <li>No rates yet.</li>
    {% endfor %}
</ul>
<div class="pagination">
    <span class="step-links"
          hx-target="#rate-list"
          hx-swap="innerHTML"
          hx-push-url="true">
        {% if page_obj.has_previous %}
            <a href="{{ page_first }}" hx-get="{{ page_first }}">&laquo; first</a>
            <a href="{{ page_previous }}" hx-get="{{ page_previous }}">previous</a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
            <a href="{{ page_next }}" hx-get="{{ page_next }}">next</a>
            <a href="{{ page_last }}" hx-get="{{ page_last }}">last</a>
        {% endif %}
    </span>
</div>
