{% extends 'pgi_currencies/base.html' %}
{% load static %}
{% block content %}
    <h1>Rates</h1>
    <form hx-post="{% url 'pgi_currencies:test-htmx' %}"
          hx-target="#rate_table">
        {% csrf_token %}
        <select id="not_display" size=5>
            {% for currency in not_display %}
                <option value={{ currency.currency }}>{{ currency.currency }}
                </option>
            {% endfor %}
        </select>
        <button type="button" onclick="add_remove(true)">Add</button>
        <button type="button" onclick="add_remove(false)">Remove</button>
        <select id="display" size=5>
            {% for currency in display %}
                <option value={{ currency.currency }}>{{ currency.currency }}
                </option>
            {% endfor %}
        </select>
        <input type="text" id="display_list" name="display_list">
        <input type="text" id="not_display_list" name="not_display_list">
        <input type="submit" />
    </form>
    <div id="rate_table">{% include "pgi_currencies/rate_list_table.html" %}</div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&{{ get_copy.urlencode }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}">previous</a>
            {% endif %}
            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&{{ get_copy.urlencode }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
{% block my_scripts %}
    <script src="{% static 'pgi_currencies/js/rate_list.js' %}"></script>
{% endblock my_scripts %}
