{% extends "pgi_currencies/app_base.html" %}
{% load static bulma_tags %}
{% block bootstrap5_title %}
    Cours Ariary
{% endblock bootstrap5_title %}
{% block bootstrap5_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-5">
                <form action=""
                      hx-get=""
                      hx-target="{{ hx_target }}"
                      hx-include="[name='div-input']"
                      method="get"
                      class="row"
                      name="div-input">
                    <div class="col-auto mb-2">
                        <input type="text"
                               hx-trigger="keyup changed delay:500ms"
                               hx-get=""
                               class="form-control form-control-sm text-center"
                               name="currency"
                               placeholder="devise"
                               size="4em">
                    </div>
                    <div class="col-auto mb-2">
                        <input type="text"
                               hx-trigger="keyup changed delay:500ms"
                               hx-get=""
                               class="form-control form-control-sm text-center"
                               name="year"
                               placeholder="année"
                               size="2em">
                    </div>
                    <div class="col-auto mb-2">
                        <input type="text"
                               hx-trigger="keyup changed delay:500ms"
                               hx-get=""
                               class="form-control form-control-sm text-center"
                               name="month"
                               placeholder="mois"
                               size="2em">
                    </div>
                </form>
                <div id="rate-table">{% include "pgi_currencies/bootstrap5_table2_htmx.html" %}</div>
                <div id="none"></div>
            </div>
        </div>
    </div>
{% endblock bootstrap5_content %}
