<div class="table-container is-size-6-mobile">
    <table class="table is-hoverable is-striped is-fullwidth">
        <thead>
            <tr class="has-text-centered">
                <th>Currency</th>
                <th>Date</th>
                <th class="has-text-right">Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for rate in page_obj %}
                <tr class="has-text-centered">
                    <td>{{ rate.currency }}</td>
                    <td class="is-hidden-touch">{{ rate.date|date }}</td>
                    <td class="is-hidden-desktop">{{ rate.date|date:"d M y" }}</td>
                    <td class="has-text-right">{{ rate.rate|floatformat:"2g" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container has-text-centered">
    <a href="{% url 'pgi_currencies:rates-list' %}"><i class="fas fa-home"></i></a>
</div>
{% include "pgi_currencies/bulma_pagination.html" %}
