/* lg */
@media (max-width: 991.98px) {

    .table-container {
        font-size: small;
    }

    .page-link,
    .form-control-xsm,
    .form-select-xsm {
        font-size: x-small;
    }

    .form-control-smaller {
        font-size: smaller;
    }
}