/* lg */
@media (max-width: 991.98px) {

    .table-container {
        font-size: small;
    }

    .page-link,
    .form-control-xsm,
    .form-select-xsm {
        font-size: x-small;
    }

    .form-control-smaller {
        font-size: smaller;
    }
}

/*table.table thead th.orderable {
    background: url('images/true.png') no-repeat center right;
}

table.table thead th.asc {
    background: url('images/false.png') no-repeat center right;
}

table.table thead th.desc {
    background: url('images/delete.png') no-repeat center right;
}*/